* {
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    overflow-x: hidden;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Poppins', sans-serif;
    background-color: #EFE2D9;
    /* Молочный цвет фона */
}

#ScrollPane {
    position: relative;
    width: 100%;
    height: 100%;
}

.scrzone,
.pane {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.scrzone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
}

.pane {
    border: 2px solid #978475; /* Коричневая рамка */
}

b {
    font-size: 80px;
    display: block;
    color: #ffffff;
    text-shadow: 1px 1px 0 #bbbbbb, 2px 2px 0 #cccccc, 3px 3px 0 #cccccc, 4px 4px 0 #cccccc, 5px 5px 0 #cccccc, 5px 5px 10px rgba(0, 0, 0, 0.3);
}

span {
    display: block;
    text-align: center;
}

.ct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}

.image-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    overflow-x: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 2px solid #978475; /* Коричневая рамка */
}

.text-container {
    margin-top: 5%;
    text-align: center;
}

.item-name,
.item-price {
    font-size: 24px;
    color: #333;
    margin: 5px 0;
}

.text-container,
.item-name,
.item-price {
    pointer-events: none;
}
