@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600&display=swap");

:root {
    --body-font: "Montserrat", sans-serif;
    --italic-font: "EB Garamond", serif;
    --header-bg: #978475;
    --menu-bg: #978475;
    --menu-border: #978475;
    --menu-hover-bg: #EFE2D9;
    --menu-hover-color: #333;
    --menu-font-color: #fff;
    --font-color: rgba(255, 255, 255, 0.5);
    --item-font-color: #333;
    --background-color: #EFE2D9;
    --pane-border: #978475;
    --shadow-color: #cccccc;
    --shadow-opacity: 0.3;
}

* {
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: var(--body-font);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: auto;
    overflow-x: hidden;
    color: var(--font-color);
    background-color: var(--background-color);
}

.header {
    background-color: var(--header-bg);
    padding: 10px 0;
    text-align: center;
    overflow-x: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-start; /* Выравнивание по началу */
    gap: 20px;
    overflow-x: auto; /* Позволяет горизонтальную прокрутку */
    white-space: nowrap; /* Убирает переносы строк */
}

.menu button {
    background-color: var(--menu-bg);
    border: 2px solid var(--menu-border);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--body-font);
    color: var(--menu-font-color);
    transition: background-color 0.3s, color 0.3s;
    flex: none; /* Предотвращает изменение размера кнопок */
}

.menu button:hover {
    background-color: var(--menu-hover-bg);
    color: var(--menu-hover-color);
}

#ScrollPane {
    position: relative;
    width: 100%;
    height: 100%;
}

.scrzone,
.pane {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.scrzone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
}

.pane {
    border: 2px solid var(--pane-border); /* Коричневая рамка */
}

b {
    font-size: 80px;
    display: block;
    color: #ffffff;
    text-shadow: 1px 1px 0 #bbbbbb, 2px 2px 0 var(--shadow-color), 3px 3px 0 var(--shadow-color), 4px 4px 0 var(--shadow-color), 5px 5px 0 var(--shadow-color), 5px 5px 10px rgba(0, 0, 0, var(--shadow-opacity));
}

span {
    display: block;
    text-align: center;
}

.ct {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;
}

.image-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    overflow-x: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 2px solid var(--pane-border); /* Коричневая рамка */
}

@media (min-width: 768px) { /* Для экранов шире 768px */
    .image-container {
        height: auto; /* Убираем фиксированную высоту для контейнера */
        margin-top: 5%; /* Корректируем верхний отступ, если нужно */
    }

    .image-container img {
        width: auto; /* Устанавливаем автоматическую ширину */
        max-width: 100%; /* Ограничиваем ширину */
        height: 100%; /* Высота изображения будет равна высоте контейнера */
        max-height: 50vh; /* Максимальная высота изображения 50% от высоты экрана */
    }
}

.text-container {
    margin-top: 5%;
    text-align: left;
    margin-left: 10px 0;
}

.item-description,
.item-name {
    font-size: 24px;
    color: var(--item-font-color);
    margin-bottom: 10px; /* Отступ снизу для названия */
}

.item-price {
    font-size: 24px;
    color: var(--item-font-color);
}

body .text-container,
.item-name,
.item-price {
    pointer-events: none;
}
